.todoList{
    h1{
        margin-bottom: 1.75rem;
    }

    ul{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1.3rem;
        gap: 2.5rem;

        @media (min-width: 1180px){
            grid-template-columns: repeat(2, 1fr);
        }
    }

    & > p{
        margin-top: 1rem;
    }
}